body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #BBC3C6;
}

header div img {
    height: 60px;
    float: left;
    margin-right: 8px;
    margin-bottom: 15px;
}

header div h1 {
    font-size: 25px;
    display: inline-block;
    color: #962715;
}

header div {
    margin-left: 15%;
}

