/* BODY */

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

body main {
    background-color: #FFFFFF;
    width: 80%;
    margin: 100px auto;
}

/* TEXT WITHIN BODY */

section > p {
    padding: 0 20px;
}

.kiemeltParagrafus {
    background-color: #BBC3C6;
    padding: 20px;
    border-left: 5px #767676;
    font-weight: bold;
}

main h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.kozepre {
    text-align: center;
}

.kiemeltSzoveg {
    color: #962715;
    font-weight: bold;
}

/* FEJLEC */

header {
    width: 100%;
    top: 0;
    background: linear-gradient(120deg, #BBC3C6, #767676);
    height: 90px;
}

header div img {
    height: 60px;
    float: left;
    margin-right: 8px;
}

header div h1 {
    font-size: 25px;
    display: inline-block;
    color: #E23127;
    letter-spacing: 3px;
    text-shadow: 2px 2px #525457;
}

header div {
    position: relative;
    left: 10%;
    top: 15px;
    width: 100%;
}

/* MENU */

nav {
    background-color: rgb(30, 30, 40);
    overflow: hidden;
    position: sticky;
    top: 0;
}

.active {
    background-color: darkcyan;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    width: 33.33%;
    text-align: center;
}

nav li:hover:not(.active) {
    background-color: black;
}

nav a {
    color: white;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    text-decoration: none;
}