/* BODY */

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

body main {
    background-color: rgba(252, 76, 0, 0.07);
    width: 80%;
    margin: 150px auto 35px auto;
}

/* TEXT WITHIN BODY */

section > p {
    padding: 20px 20px;
}

.kiemeltParagrafus {
    background-color: #BBC3C6;
    padding: 20px;
    border-left: 5px #767676;
    font-weight: bold;
}

main h2 {
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.kozepre {
    text-align: center;
}

.kiemeltSzoveg {
    color: #962715;
    font-weight: bold;
}

/* FEJLEC */

header {
    width: 100%;
    top: 0;
    background: linear-gradient(120deg, #BBC3C6, #767676);
    height: 90px;
    position: fixed;
}

header div img {
    height: 60px;
    float: left;
    margin-right: 8px;
}

header div h1 {
    font-size: 30px;
    display: inline-block;
    color: #E23127;
    letter-spacing: 3px;
    text-shadow: 2px 2px #525457;
}

header div {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MENU */

nav {
    background: #1E1E20;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 80px;

}

.active {
    background-color: #ab3d26;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
    width: 14.28%;
    text-align: center;

}

nav li:hover:not(.active) {
    background-color: #E23127;
}

nav a {
    font-size: 14.4px;
    color: white;
    font-variant: small-caps;
    display: block;
    text-decoration: none;
    padding: 10px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 90px;
    background: linear-gradient(120deg, #BBC3C6, #767676);
    bottom: 0;
}

footer p {
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
    color: white;
    margin: 0 auto;
}

